[submodule "subs/Preference"]
	path = subs/Preference
	url = https://github.com/Slion/Preference
[submodule "subs/AppIntro"]
	path = subs/AppIntro
	url = https://github.com/Slion/AppIntro
[submodule "subs/wiki"]
	path = subs/wiki
	url = https://github.com/Slion/Fulguris.wiki.git
[submodule "subs/l10n"]
	path = subs/l10n
	url = https://github.com/Slion/l10n.git
