<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    android:installLocation="auto">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <!--
    From Android 12 we need ACCESS_COARSE_LOCATION location too if asking for ACCESS_FINE_LOCATION
    User can then decide if she wants to give us fine or approximate location.
    See: https://developer.android.com/about/versions/12/migration
    See: https://proandroiddev.com/android-12-privacy-changes-for-location-55ffd8c016fd
    See: https://developer.android.com/training/location/permissions#approximate-request
    -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="com.android.launcher.permission.INSTALL_SHORTCUT" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera.autofocus"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.location.gps"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.location"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.touchscreen"
        android:required="false" />

    <queries>
        <intent>
            <!-- Needed to be able to launch third party applications -->
            <action android:name="android.intent.action.MAIN" />
        </intent>
    </queries>

    <application
        android:name=".BrowserApp"
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="false"
        android:usesCleartextTraffic="true">

        <!-- Splash screen activity not sure exactly if we need MAIN and DEFAULT intent TBH -->
        <!-- Make it resizable for Multi-Window mode support, such as Samsung Dex
        Needed to be in the root activity which is our splash screen apparently.
        -->
        <activity android:name=".SplashActivity"
            android:theme="@style/Theme.App.SplashScreen"
            android:resizeableActivity="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="android.webkit.WebView.MetricsOptOut"
            android:value="true" />
        <meta-data
            android:name="android.max_aspect"
            android:value="2.1" />

        <activity
            android:name=".MainActivity"
            android:alwaysRetainTaskState="true"
            android:clearTaskOnLaunch="false"
            android:colorMode="wideColorGamut"
            android:resizeableActivity="true"
            android:configChanges="locale|orientation|screenSize|screenLayout|smallestScreenSize|keyboardHidden|keyboard"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:theme="@style/Theme.App.DayNight"
            android:windowSoftInputMode="stateHidden|adjustResize"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.APP_BROWSER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="file" />
                <data android:mimeType="text/html" />
                <data android:mimeType="text/plain" />
                <data android:mimeType="application/xhtml+xml" />
                <data android:mimeType="application/vnd.wap.xhtml+xml" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="http" />
                <data android:scheme="https" />
                <data android:scheme="about" />
                <data android:scheme="fulguris" />
                <data android:scheme="javascript" />
            </intent-filter>
            <!--
                  For these schemes where any of these particular MIME types
                  have been supplied, we are a good candidate.
            -->
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />

                <data android:scheme="http" />
                <data android:scheme="https" />
                <data android:scheme="inline" />
                <data android:mimeType="text/html" />
                <data android:mimeType="text/plain" />
                <data android:mimeType="application/xhtml+xml" />
                <data android:mimeType="application/vnd.wap.xhtml+xml" />
            </intent-filter>
            <!-- For viewing saved web archives. -->
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />

                <data android:scheme="http" />
                <data android:scheme="https" />
                <data android:scheme="file" />
                <data android:mimeType="application/x-webarchive-xml" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.WEB_SEARCH" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="http" />
                <data android:scheme="https" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.WEB_SEARCH" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <intent-filter>
                <action android:name="info.guardianproject.panic.action.TRIGGER" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

            <!--
            For Fulguris to show up in Android Sharesheet.
            See: https://developer.android.com/training/sharing/receive
            We will accept text to put it in the address bar.
             -->
            <intent-filter>
                <action android:name="android.intent.action.SEND" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="text/plain" />
            </intent-filter>

        </activity>
        <activity
            android:name=".IncognitoActivity"
            android:alwaysRetainTaskState="true"
            android:colorMode="wideColorGamut"
            android:configChanges="orientation|screenSize|screenLayout|smallestScreenSize|keyboardHidden|keyboard"
            android:label="@string/app_name"
            android:launchMode="singleInstance"
            android:parentActivityName=".MainActivity"
            android:process=":incognito"
            android:theme="@style/Theme.App.DayNight"
            android:windowSoftInputMode="stateHidden|adjustResize"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.INCOGNITO" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".settings.activity.SettingsActivity"
            android:colorMode="wideColorGamut"
            android:label="@string/settings"
            android:parentActivityName=".MainActivity"
            android:theme="@style/Theme.App.DayNight"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.SETTINGS" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".reading.ReadingActivity"
            android:colorMode="wideColorGamut"
            android:label="@string/reading_mode"
            android:theme="@style/Theme.App.DayNight"
            android:exported="false">
            <intent-filter>
                <action android:name="android.intent.action.READING" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/filepaths" />
        </provider>

        <!-- Firebase configuration -->
        <meta-data android:name="firebase_analytics_collection_enabled" android:value="@bool/pref_default_analytics" />
        <meta-data android:name="firebase_crashlytics_collection_enabled" android:value="@bool/pref_default_crash_report" />

        <!-- We won't need this for now. We experimented with that as we were trying to open file explorer to a directory. -->
        <!--
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="true"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>
        -->

    </application>

</manifest>