name: Build

on:
  push:
    branches: [ main ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: set up JDK 11
      uses: actions/setup-java@v2
      with:
        java-version: '11'
        distribution: 'adopt'

    - name: Grant execute permission for gradlew
      run: chmod +x gradlew
    - name: Build Slions download variants
      run: ./gradlew assembleSlionsFullDownload
    - name: Build Slions Google Play variants
      run: ./gradlew assembleSlionsFullPlaystore
    - name: Build Styx variants
      run: ./gradlew assembleStyxBaseUndef
